
<html>
<head>
<title>Organic Gardening | Contact</title>
<meta charset="UTF-8">
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css"><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div> <a href="#"><img src="assets/img/logo.gif" alt=""></a> </div>
    <ul>
      <li class="current"><a class="btn" (click)="navigateToIndex()" ><span>Home</span></a></li>
      <li><a class="btn" (click)="navigateToOrganic()"><span>Organic Gardening</span></a></li>
      <li><a class="btn" (click)="navigateToTips()"><span>Gardening Tips &amp; Useful Links</span></a></li>
      <li><a class="btn" (click)="navigateToBlog()"><span>Blog</span></a></li>
      <li><a class="btn" (click)="navigateToAbout()" ><span>About</span></a></li>
      <li><a class="btn" (click)="navigateToContact()"><span>Contact</span></a></li>
    </ul>
  </div>
  <div class="body">
    <h2>Contact</h2>


<div class="section">
  <div class="container">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input" [(ngModel)]="newTask" placeholder="DIRECCIÓN" type="text">
      </p>
      <p class="control is-expanded">
        <input class="input" [(ngModel)]="newImageUrl" placeholder="Image URL" type="text">
      </p>
      <p class="control is-expanded">
        <input class="input" [(ngModel)]="newDescription" placeholder="NUMERO" type="email">
      </p>
      <p class="control is-expanded">
        <input class="input" [(ngModel)]="newEmail" placeholder="EMAIL" type="email">
      </p>
      <p class="control">
        <button class="button is-info" (click)="addTask()">Enviar</button>
      </p>
    </div>

    <div class="columns is-multiline">
  <div class="column is-4" *ngFor="let task of tasks; let i = index">
    <div class="card card-hover"> <!-- Mueve la clase card-hover aquí -->
      <div class="card-image">
        <figure class="image is-4by3">
          <!-- Para imágenes y GIFs -->
          <img *ngIf="task.imageUrl && (task.imageUrl.endsWith('.jpg') || task.imageUrl.endsWith('.png') || task.imageUrl.endsWith('.gif'))" [src]="task.imageUrl" alt="Task Image" style="object-fit: cover;">

          <!-- Para videos -->
          <video *ngIf="task.imageUrl && task.imageUrl.endsWith('.mp4')" [src]="task.imageUrl" controls style="width: 100%; height: auto; object-fit: cover;"></video>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <table>
            <tr>
              <td><b>Address</b></td>
              <td>:</td>{{ task.text }}
            </tr>
            <tr>
              <td><b>Phone Number</b></td>
              <td>:</td>{{ task.description }}
            </tr>
            <tr>
              <td><b>Email</b></td>
              <td>:</td>{{ task.email }}
            </tr>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item has-text-danger" (click)="removeTask(i)">Remove</a>
      </footer>
    </div>
  </div>
</div>
  </div>
</div>
  </div>
  <div id="footer">
    <ul>
      <li>
        <h3>Magazine &amp; Books</h3>
        <div id="magazine">
          <p>Fusce interdum vestibulum lacus, sagittis sagittis mauris</p>
          <a href="#"><img src="assets/img/magazine.jpg" alt=""></a> </div>
      </li>
      <li>
        <h3>Gallery</h3>
        <div id="gallery"> <b>Donec a quam quis est</b> <a href="#"><img src="assets/img/family-harvesting.jpg" alt=""></a>
          <p>Nam eu tellus a sem laoreet vel pulvinarid nisi at risus sit <br>
            by: Lizah</p>
          <a href="#" class="viewall">View all Photos</a> </div>
      </li>
      <li>
        <h3>Suppliers Directory</h3>
        <div> <b>Lorem ipsum dolor</b> <span>Vivamus placerat eros aligula vulpu</span>
          <p>(+36) 924-068-207</p>
          <b>Molestie Faucibus</b> <span>Proin magna velit, mattis portitor</span>
          <p>(+36) 924-068-207</p>
          <b>Vestibulum Matti</b>
          <p>(+36) 924-068-207</p>
          <a href="#" class="viewall">View all Suppliers</a> </div>
      </li>
      <li>
        <h3>Get in Touch</h3>
        <div>
          <p>Email:<br>
            companyemail.com<br>
            <br>
          </p>
          <p>Address:<br>
            189 Lorem Ipsum Pellentes<br>
            Mauris Etiam ut velit odio<br>
            Proin nisi 0000<br>
            <br>
          </p>
          <p>Phone:<br>
            117-683-9187-000</p>
        </div>
      </li>
    </ul>
    <div>
      <p class="connect">Join us on <a href="#">Facebook</a> &amp; <a href="#">Twitter</a></p>
      <p class="footnote">Copyright &copy; 2012 <a href="#">Company Name</a> All rights reserved | Website Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">freewebsitetemplates.com</a></p>
    </div>
  </div>
</div>
</body>
</html>
